<div class="replies-scene">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">&nbsp;</div>
            <div class="subtitle" id="subtitle">
                <div x-mojo-element="RadioButton" id="replies-mode"></div>
            </div>
        </div>
    </div>
    <div id="replies">
        <div class="modetitle">Private Replies</div>
        <div id="replylist" x-mojo-element="List"></div>
    </div>
    <div id="chalkbacks">
        <div class="modetitle">Chalkbacks</div>
        <div id="chalkback-list" x-mojo-element="List"></div>
    </div>
    <div id="loading-scrim">
        <div id="loading-spinner" x-mojo-element="Spinner"></div>
    </div>
</div>
