<div class="compose-scene">
    
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title" ><img src="images/BlockChalkLogo.png" /></div>
            <div class="subtitle">make a new chalk here</div>
        </div>
    </div>

    <div class="palm-group">
        <div class="palm-group-title" x-mojo-loc='' id="character-count"><span>255</span> characters remaining</div>
        <div class="palm-list">
            <div class="palm-row single" id="post-row">
                <div class="palm-row-wrapper">
                    <div class="textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id="chalk-message" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="chalk-post" x-mojo-element="Button" class="primary"></div>
    
</div>
