<div class="chalk-scene">
    
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title" ><img src="images/BlockChalkLogo.png" /></div>
            <div class="subtitle">reading a chalk</div>
        </div>
    </div>

    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper chalk">
                <div id="contents">...</div>
                <div id="meta">...</div>
            </div>
        </div>
    </div>

    <div id="chalk-reply-button" x-mojo-element="Button" class="primary"></div>
    <div id="chalk-bury-button" x-mojo-element="Button" class="primary"></div>
    <!-- <div id="chalk-share-button" x-mojo-element="Button" class="primary"></div> -->
    
</div>
