<div class="chalk-scene">
    
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">&nbsp;</div>
            <div class="subtitle chalk">Reading a chalk</div>
            <div class="subtitle chalkback">Reading a chalkback</div>
        </div>
    </div>

    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper chalk">
                <div id="contents"></div>
                <div id="meta"></div>
            </div>
        </div>
    </div>

    <div class="capsule-buttonbar">
        <div class="palm-menu-group">
            <div id="chalk-reply-button" class="palm-menu-button label-long" x-mojo-tap-highlight="immediate"><!-- palm-depressed -->
                <div class="label label-long">Reply<br />Privately</div>
            </div>
            <div id="chalk-bury-button" class="palm-menu-button" x-mojo-tap-highlight="immediate">
                <div class="label">Report</div>
            </div>
            <div id="chalk-email-button" class="palm-menu-button" x-mojo-tap-highlight="immediate">
                <div class="label">Email</div>
            </div>
            <div id="chalk-tweet-button" class="palm-menu-button" x-mojo-tap-highlight="immediate">
                <div class="label">Tweet</div>
            </div>
        </div>
    </div>

    <div id="threadlist" x-mojo-element="List"></div>

</div>
