<div class="chalk-scene">
    
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">&nbsp;</div>
            <div class="subtitle chalk">Reading a chalk</div>
            <div class="subtitle chalkback">Reading a chalkback</div>
        </div>
    </div>

    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper chalk">
                <div id="contents">...</div>
                <div id="meta">...</div>
            </div>
        </div>
    </div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="button-row"><tr>
        <td width="25%" id="reply-wrapper"><div id="chalk-reply-button" x-mojo-element="Button" class="primary"></div></td>
        <td width="25%" id="bury-wrapper"><div id="chalk-bury-button" x-mojo-element="Button" class="primary"></div></td>
        <td width="25%" id="email-wrapper"><div id="chalk-email-button" x-mojo-element="Button" class="primary"></div></td>
        <td width="25%" id="tweet-wrapper"><div id="chalk-tweet-button" x-mojo-element="Button" class="primary"></div></td>
    </tr></table>

    <div id="threadlist" x-mojo-element="List"></div>

</div>
