<div class="palm-row #{isCurrent}">
    <table class="palm-row-wrapper" id="blockchalk-#{id}">
        <tr style="vertical-align: middle">
            <td class="chalk-item" x-mojo-tap-highlight="immediate">
                <div class="title #{isCurrent} #{hasLocation} #{hasChalkback}">
                    <span class="contents">#{contents}</span>
                    <span class="location-link"></span>
                    <img class="location-icon" src="images/1x1.png" />
                </div>
                <div class="subtitle">
                    Posted #{datetimeFormatted}
                </div>
            </td>
        </tr>
    </table>
</div>
