<div class="preferences-scene">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">&nbsp;</div>
            <div class="subtitle" id="subtitle">Preferences</div>
        </div>
    </div>

    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">   
                <div x-mojo-element="ToggleButton" id="profanity_filter"></div>
                <div class="title" x-mojo-loc=''>Profanity Filter</div>  
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">   
                <div x-mojo-element="Button" id="reset_user_id"></div>
            </div>
        </div>
    </div>

</div>
