/* Put Application specific CSS here. */
body.palm-dark {
    background: #000;
}
/** HACK: Force palm-light themed text fields with absolute image paths */
body.palm-dark .palm-scene .textfield-group.focused {
    -webkit-border-image: url(../images/group-textfield-shadow-52.png) 15 15 15 15 stretch stretch;
}
body.palm-dark .palm-scene .palm-group .palm-row.single .textfield-group.focused {
    -webkit-border-image: url(../images/group-textfield-shadow-52-single.png) 15 15 15 15 stretch stretch;
}
body.palm-dark .palm-scene .textfield-group.focused .text-edit {
    color: #000;
}
p {
    padding: 0 15px 0 15px;
    margin: 0 0 0.25em 0;
}
p.helptext {
    font-size: 0.75em;
}

.capsule-buttonbar {
    width: 100%;
}
.capsule-buttonbar .palm-menu-group {
    position: relative;
    height: 54px;
}
.capsule-buttonbar .palm-menu-button {
    word-wrap: normal;
    position: relative;
    float: left;
    max-width: none;
    width: 106px;
    text-align: center;
}
.capsule-buttonbar .palm-menu-button.label-long {
    line-height: 15px;
}
.capsule-buttonbar .palm-menu-button .label {
    margin: 0 -11px 0 -11px;
    word-wrap: normal;
}
.capsule-buttonbar .palm-menu-button .label-long {
    font-size: 15px;
    margin-top: 9px;
    text-align: center;
}
.capsule-buttonbar .palm-menu-button:first-child {
    padding-left: 15px;
}
.capsule-buttonbar .palm-menu-button:last-child {
    padding-right: 15px;
}

.palm-menu-icon.here {
    background-image: url(../images/menu-icon-here.png);
}
.palm-menu-icon.conversation {
    background-image: url(../images/Envelope_Icon_32x64.png);
}
.palm-menu-icon.home {
    background-image: url(../images/Home_Icon_32x64.png);
}
.home-scene #reply-count {
    -webkit-opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 6px;
    left: -1px;
    width: 36px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-image: url(../images/red-circle.png);
}

.palm-dark .palm-page-header.multi-line {
    -webkit-border-image: none;
    padding: 0px 0px 0px 0px;
}
.palm-dark .palm-page-header-wrapper {
    margin: 0px 0px 0px 0px;
}
.palm-dark .palm-page-header.multi-line .title {
    background: #000;
    padding: 10px 0px 0px 0px;
    margin: 0 0 14px 0;
    height: 18px;
    background-color: transparent;
    background-image: url(../images/BlockChalkTitle.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.palm-dark .palm-page-header.multi-line .subtitle {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    background: #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.palm-dark .palm-page-header.multi-line .subtitle .neighborhood {
    font-size: 19px;
    font-weight: bold;
}
.palm-dark .chalklist-title {
    text-align: left;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 19px;
    font-weight: bold;
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 6px 14px;
}
.palm-dark .command-menu .palm-menu-fade {
    opacity: 0.3;
}
.palm-dark .textfield-group textarea {
    color: #fff;
}
.palm-list .single .chalk {
    padding: 18px 0 18px 0;
}
.palm-list .single .chalk #contents {
    font-size: 16px;
    padding: 0px 14px 0px 14px;
}
.palm-list .single .chalk #meta {
    margin: 4px 14px 0 14px;
    font-style: italic;
    font-size: 14px;
}
.home-scene #locator {
}
.home-scene #locator #location {
    font-size: 19px;
    font-weight: bold;
}

.home-scene #locator .lookslike { display: none; }
.home-scene #locator .browsingat { display: none; }
.home-scene #locator #sethome { display: none; }
.home-scene #locator #coordinates { display: none; }
.home-scene #locator #coordinates:before { content: "("; }
.home-scene #locator #coordinates:after { content: ")"; }
.home-scene #locator #sethome-button { display: block; }
.home-scene .chalklist-title.search { display: none; }
.home-scene .chalklist-title.home { display: none; margin-top: -0.75em; }

.home-scene #home-help { display: none; }

#home-scene.here #locator .lookslike { display: block; }
#home-scene.here #locator #sethome-button { display: block; }

#home-scene.home #locator #location {
    padding-left: 24px;
    background: transparent url(../images/home-glyph.png) no-repeat 2px left;
}
#home-scene.home .chalklist-title.here { display: none; }
#home-scene.home .chalklist-title.home { display: block; }
#home-scene.home #locator #sethome-button { display: none; }

#home-scene.search #locator #coordinates { display: block; }
#home-scene.search #locator .browsingat { display: block; }
#home-scene.search .chalklist-title.here { display: none; }
#home-scene.search .chalklist-title.search { display: block; }

#home-scene.homeless #home-help { display: block; }
#home-scene.homeless .chalklist-title { display: none; }
#home-scene.homeless .chalklist-title.here { display: none; }
#home-scene.homeless .chalklist-title.home { display: none; }
#home-scene.homeless .chalklist-title.search { display: none; }
#home-scene.homeless #chalklist { display: none; }

.home-scene #chalklist {
    margin-top: 5px;
}
.home-scene #chalklist .empty {
    padding: 6px 0 10px 14px;
}
.home-scene #chalklist .palm-row.first {
}
.home-scene #chalklist .palm-row {
    min-height: 0px;
    padding: 6px 0 10px 0;
    position: relative;
}
.home-scene #chalklist .palm-row .palm-row-wrapper {
    width: 100%;
    margin: 0; padding: 0;
}
.home-scene #chalklist .palm-row .chalk-item {
    margin: 0; padding: 0;
}
.home-scene #chalklist .palm-row .indicator-wrapper {
    margin: 0; 
    padding: 0 0 0 10px;
    vertical-align: middle;
    width: 32px;
    text-align: right;
}
.home-scene #chalklist .palm-row .indicator-kind-one .indicator-many {
    display: none;
}
.home-scene #chalklist .palm-row .indicator-kind-many .indicator-one {
    display: none;
}
.home-scene #chalklist .palm-row .indicator-wrapper .indicator {
    width: 21px; height: 21px;
}
.home-scene #chalklist .palm-row .indicator-kind-one .indicator-one {
    font-weight: bold;
    font-size: 21px;
    padding-right: 8px;
}
.home-scene #chalklist .palm-row .indicator-kind-many .indicator-many {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    background: transparent url(../images/SpeechBubble.png) no-repeat 0 0;
}
.home-scene #chalklist .palm-row .title {
    padding: 0 0px 0 12px;
    font-size: 16px;
}
.home-scene #chalklist .palm-row .subtitle {
    margin: 4px 12px 0 0px;
    font-style: italic;
    font-size: 14px;
}
.chalkback-icon,
.location-icon {
    display: none;
    width: 18px; height: 18px;
}
.has-location .location-icon {
    display: inline;
    background: transparent url(../images/compass.png) no-repeat 0 0;
}
.has-chalkback .chalkback-icon {
    display: none;
}

.chalk-scene {
    padding-bottom: 50px;
}
.chalk-scene .subtitle.chalkback {
    display: none;
}
.chalk-scene.chalkback .subtitle.chalk {
    display: none;
}
.chalk-scene.chalkback .subtitle.chalkback {
    display: block;
}
.chalk-scene #threadlist {
    margin-top: 12px;
}
.chalk-scene #threadlist .palm-row .palm-row-wrapper {
    padding: 0 12px 0 12px;
}
.chalk-scene #threadlist .palm-row {
    background: #222;
    border-bottom: 1px solid #595959;
    margin-bottom: 0;
}
.chalk-scene #threadlist .palm-row.is-current {
    background: #3a3a3a;
}
.chalk-scene #threadlist .palm-row.empty {
    background: transparent;
    border-bottom: none;
}
.chalk-scene #threadlist .palm-row.first, .chalk-scene #threadlist .palm-row.single {
    border-top: 1px solid #595959;
}
.chalk-scene #threadlist .palm-row .chalk-item .title {
    font-size: 16px;
    padding: 4px 0px 0px 0px;
}
.chalk-scene #threadlist .palm-row .chalk-item .subtitle {
    color: #666;
    font-style: italic;
    font-size: 14px;
    padding: 0px 0px 4px 0px;
}
.chalk-scene #chalk-message-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 320px;
    display: none;
}
#chalk-scene.can-chalkback #chalk-message-container {
    display: block;
}
.chalk-scene #chalk-message-container #chalk-message {
    margin-top: 5px;
}
.chalk-scene #chalk-message-container textarea {
    height: 24px;
}
.chalk-scene #chalk-message-container #chalk-message-container.palm-row .icon.right {
    height: 61px;
}
.chalk-scene #chalk-message-container .chalk-post {
    background: url(../images/msg-send-airplane.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    right: 6px;
}
.chalk-scene #chalk-message-container .chalk-post.selected {
    background: url(../images/msg-send-airplane-press.png) top left no-repeat;
}
.chalk-scene #chalk-message-container .chalk-message {
    overflow: hidden;
    max-height: 220px;
}
.chalk-scene #chalk-message-container #character-count {
    display: none;
}


#compose-scene #character-count span {
    font-weight: normal;
    color: #4f4;
}
#compose-scene #character-count.over span {
    font-weight: bold;
    color: #f44;
}
#compose-scene .subtitle { display: none; }
#compose-scene.here .subtitle.here { display: block; }
#compose-scene.chalkback .subtitle.chalkback { display: block; }
#compose-scene #external-compose { background: #000; }
#compose-scene #curtain {
    background: #000; width: 100%; height: 100%;
    position: absolute; top: 0px; left: 0px;
}

.replies-scene #replies-mode {
}
.replies-scene #replies-mode .palm-radiobutton {
    padding: 2px 0 2px 0;
    background-color: rgb(57, 62, 67);
}
.replies-scene #replies .modetitle, .replies-scene #chalkbacks .modetitle {
    text-align: left;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 19px;
    font-weight: bold;
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 6px 14px;
}
.replies-scene .empty {
    padding: 6px 0 10px 14px;
}
.replies-scene .palm-row.first {
}
.replies-scene .palm-row {
    min-height: 0px;
    padding: 6px 0 10px 0;
}
.replies-scene .palm-row .title {
    padding: 0 14px 0 14px;
    font-size: 18px;
}
.replies-scene .palm-row .subtitle {
    margin: 4px 14px 0 14px;
    font-style: italic;
    font-size: 14px;
}
.help-scene {
    background-color: rgb(57,62,67);
    padding-bottom: 0.5em;
}
.help-scene .palm-page-header {
    background: #000;
}
.palm-dark .help-scene .palm-page-header.multi-line {
    padding-bottom: 17px;
}
.palm-dark .instructions-scene .palm-page-header.multi-line {
    padding-bottom: 17px;
}
.instructions-scene .help-text h2 {
    font-size: 20px;
    padding: 0 14px 0 14px;
}
.instructions-scene .help-text p {
    margin: 0 0 0.75em 0;
    font-size: 18px;
}
.instructions-scene ul.icon-help {
    list-style: none;
    padding: 0 0 0 16px;
    margin: 0 0 0 0;
}
.instructions-scene ul.icon-help li {
    font-size: 18px;
    padding: 0 14px 18px 0px;
    margin: 0 0 0 0;
}
.instructions-scene ul.icon-help li div.icon {
    float: left;
    width: 32px;
    height: 32px;
    padding: 0 7px 0 0;
    background: transparent url(../images/menu-icon-new.png) no-repeat;
}
.instructions-scene ul.icon-help li.new div.icon {
    background-image: url(../images/menu-icon-new.png);
}
.instructions-scene ul.icon-help li.here div.icon {
    background-image: url(../images/menu-icon-here.png);
}
.instructions-scene ul.icon-help li.home div.icon {
    background-image: url(../images/Home_Icon_32x64.png);
}
.instructions-scene ul.icon-help li.replies div.icon {
    background-image: url(../images/Envelope_Icon_32x64.png);
}
.instructions-scene ul.icon-help li.search div.icon {
    background-image: url(../images/menu-icon-search.png);
}
.instructions-scene ul.icon-help li.refresh div.icon {
    background-image: url(../images/menu-icon-refresh.png);
}
.instructions-scene dl.menu-help {
    margin: 0 0 0 0;
    padding: 0 0 0 14px;
}
.instructions-scene dl.menu-help dt {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-style: italic;
}
.instructions-scene dl.menu-help dd {
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 5px 8px 16px 24px;
}
