/* Put Application specific CSS here. */
body.palm-dark {
    background: #000;
}
p {
    padding: 0 15px 0 15px;
    margin: 0 0 0.25em 0;
}
p.helptext {
    font-size: 0.75em;
}

.palm-menu-icon.here {
    background-image: url(../images/menu-icon-here.png);
}
.palm-menu-icon.home {
    background-image: url(../images/menu-icon-home.png);
}
.home-scene #reply-count {
    -webkit-opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 6px;
    left: -1px;
    width: 36px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-image: url(../images/red-circle.png);
}

.palm-dark .palm-page-header.multi-line {
    -webkit-border-image: none;
    padding: 0px 0px 0px 0px;
}
.palm-dark .palm-page-header-wrapper {
    margin: 0px 0px 0px 0px;
}
.palm-dark .palm-page-header.multi-line .title {
    background: #000;
    padding: 10px 0px 0px 0px;
    margin: 0 0 14px 0;
    height: 18px;
    background-color: transparent;
    background-image: url(../images/BlockChalkTitle.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.palm-dark .palm-page-header.multi-line .subtitle {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    background: #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.palm-dark .palm-page-header.multi-line .subtitle .neighborhood {
    font-size: 19px;
    font-weight: bold;
}
.palm-dark .chalklist-title {
    text-align: left;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 19px;
    font-weight: bold;
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 6px 14px;
}
.palm-dark .command-menu .palm-menu-fade {
    opacity: 0.3;
}
.palm-dark .textfield-group textarea {
    color: #fff;
}
.palm-list .single .chalk {
    padding: 18px 0 18px 0;
}
.palm-list .single .chalk #contents {
    font-size: 18px;
    padding: 0px 14px 0px 14px;
}
.palm-list .single .chalk #meta {
    margin: 4px 14px 0 14px;
    font-style: italic;
    font-size: 14px;
}
.home-scene #locator {
}
.home-scene #locator #location {
    font-size: 19px;
    font-weight: bold;
}

.home-scene #locator .lookslike { display: none; }
.home-scene #locator .browsingat { display: none; }
.home-scene #locator #sethome { display: none; }
.home-scene #locator #coordinates { display: none; }
.home-scene #locator #coordinates:before { content: "("; }
.home-scene #locator #coordinates:after { content: ")"; }
.home-scene #locator #sethome-button { display: block; }
.home-scene .chalklist-title.search { display: none; }
.home-scene .chalklist-title.home { display: none; margin-top: -0.75em; }

.home-scene #home-help { display: none; }

#home-scene.here #locator .lookslike { display: block; }
#home-scene.here #locator #sethome-button { display: block; }

#home-scene.home #locator #location {
    padding-left: 24px;
    background: transparent url(../images/home-glyph.png) no-repeat 2px left;
}
#home-scene.home .chalklist-title.here { display: none; }
#home-scene.home .chalklist-title.home { display: block; }

#home-scene.search #locator #coordinates { display: block; }
#home-scene.search #locator .browsingat { display: block; }
#home-scene.search .chalklist-title.here { display: none; }
#home-scene.search .chalklist-title.search { display: block; }

#home-scene.homeless #home-help { display: block; }
#home-scene.homeless .chalklist-title { display: none; }
#home-scene.homeless .chalklist-title.here { display: none; }
#home-scene.homeless .chalklist-title.home { display: none; }
#home-scene.homeless .chalklist-title.search { display: none; }
#home-scene.homeless #chalklist { display: none; }

.home-scene #chalklist {
    margin-top: 5px;
}
.home-scene #chalklist .empty {
    padding: 6px 0 10px 14px;
}
.home-scene #chalklist .palm-row.first {
}
.home-scene #chalklist .palm-row {
    min-height: 0px;
    padding: 6px 0 10px 0;
}
.home-scene #chalklist .palm-row .title {
    padding: 0 14px 0 14px;
    font-size: 18px;
}
.home-scene #chalklist .palm-row .subtitle {
    margin: 4px 14px 0 14px;
    font-style: italic;
    font-size: 14px;
}
.chalkback-icon,
.location-icon {
    display: none;
    width: 18px; height: 18px;
}
.has-location .location-icon {
    display: inline;
    background: transparent url(../images/compass.png) no-repeat 0 0;
}
.has-chalkback .chalkback-icon {
    display: inline;
    background: transparent url(../images/chalkback.png) no-repeat 0 0;
}
.chalk-scene .subtitle.chalkback {
    display: none;
}
.chalk-scene.chalkback .subtitle.chalk {
    display: none;
}
.chalk-scene.chalkback .subtitle.chalkback {
    display: block;
}
#compose-scene #character-count span {
    font-weight: normal;
    color: #4f4;
}
#compose-scene #character-count.over span {
    font-weight: bold;
    color: #f44;
}
#compose-scene .subtitle { display: none; }
#compose-scene.here .subtitle.here { display: block; }
#compose-scene.chalkback .subtitle.chalkback { display: block; }

.replies-scene #replies-mode {
}
.replies-scene #replies-mode .palm-radiobutton {
    padding: 2px 0 2px 0;
    background-color: rgb(57, 62, 67);
}
.replies-scene #replies .modetitle, .replies-scene #chalkbacks .modetitle {
    text-align: left;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 19px;
    font-weight: bold;
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 6px 14px;
}
.replies-scene .empty {
    padding: 6px 0 10px 14px;
}
.replies-scene .palm-row.first {
}
.replies-scene .palm-row {
    min-height: 0px;
    padding: 6px 0 10px 0;
}
.replies-scene .palm-row .title {
    padding: 0 14px 0 14px;
    font-size: 18px;
}
.replies-scene .palm-row .subtitle {
    margin: 4px 14px 0 14px;
    font-style: italic;
    font-size: 14px;
}
.help-scene {
    background-color: rgb(57,62,67);
    padding-bottom: 0.5em;
}
.instructions-scene .help-text h2 {
    font-size: 20px;
    padding: 0 14px 0 14px;
}
.instructions-scene .help-text p {
    margin: 0 0 0.75em 0;
    font-size: 18px;
}
.instructions-scene ul.icon-help {
    list-style: none;
    padding: 0 0 0 16px;
    margin: 0 0 0 0;
}
.instructions-scene ul.icon-help li {
    font-size: 18px;
    padding: 0 14px 18px 0px;
    margin: 0 0 0 0;
}
.instructions-scene ul.icon-help li div.icon {
    float: left;
    width: 32px;
    height: 32px;
    padding: 0 7px 0 0;
    background: transparent url(../images/menu-icon-new.png) no-repeat;
}
.instructions-scene ul.icon-help li.new div.icon {
    background-image: url(../images/menu-icon-new.png);
}
.instructions-scene ul.icon-help li.here div.icon {
    background-image: url(../images/menu-icon-here.png);
}
.instructions-scene ul.icon-help li.replies div.icon {
    background-image: url(../images/menu-icon-conversation.png);
}
.instructions-scene ul.icon-help li.search div.icon {
    background-image: url(../images/menu-icon-search.png);
}
.instructions-scene ul.icon-help li.refresh div.icon {
    background-image: url(../images/menu-icon-refresh.png);
}
.instructions-scene dl.menu-help {
    margin: 0 0 0 0;
    padding: 0 0 0 14px;
}
.instructions-scene dl.menu-help dt {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-style: italic;
}
.instructions-scene dl.menu-help dd {
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 5px 8px 16px 24px;
}
