<div class="instructions-scene">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">&nbsp;</div>
            <div class="subtitle" id="subtitle">Instructions &amp; About</div>
        </div>
    </div>
    <div class="help-text">

        <div class="section">
            <p>
                BlockChalk is the voice of your neighborhood. 
            </p>
            <p>
                Use it to leave
                messages on your block, your street, at the coffee shop, or
                anywhere you happen to be. Respond privately or publicly to
                messages from people in your neighborhood.
            </p>
            <p>
                People are already using BlockChalk to buy and sell stuff, chat
                with their neighbors, report crimes in the area and even find
                romancs. How will your neighborhood use BlockChalk?
            </p>
        </div>

        <div class="section">
            <h2>Getting Started</h2>
            <p>
                After you launch the app you'll see a loading spinner while
                your device uses its GPS to find out where you are.
            </p>
        </div>

        <div class="section">
            <h2>Button Commands</h2>
            <ul class="icon-help">
                <li class="new"><div class="icon">&nbsp;</div>
                    Compose a new chalk at your current location</li>
                <li class="here"><div class="icon">&nbsp;</div>
                    Look for chalks at your current location</li>
                <li class="home"><div class="icon">&nbsp;</div>
                    Read chalks in your home neighborhood</li>
                <li class="search"><div class="icon">&nbsp;</div>
                    Search for chalks at other locations</li>
                <li class="replies"><div class="icon">&nbsp;</div>
                    Read replies to your chalks</li>
                <li class="refresh"><div class="icon">&nbsp;</div>
                    Refresh the current list of chalks</li>
            </ul>
        </div>

        <div class="section">
            <h2>Menu Commands</h2>
            <dl class="menu-help">
                <dt>Preferences...</dt>
                    <dd>
                        Preferences for the application, including the
                        option to enable a profanity filter and the
                        ability to reset your user ID.
                    </dd>
                <dt>Help...</dt>
                    <dd>Details on help and support for this app.</dd>
            </dl>
        </div>

        <div id="close" x-mojo-element="Button" class="primary"></div>

    </div>
</div>
